{% block user_block %}
    {% if app.user %}
        {% set _bg_class          = "bg-light-blue" %}
        {# Customize this with your profile picture implementation, see below for example #}
        {#{% set _user_image  = app.user.profilePicture|default(asset(sonata_user.defaultAvatar)) %}#}

        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            {% set _bg_class    = "bg-light-green" %}
            {% set _logout_uri  = url('sonata_admin_dashboard', {'_switch_user': '_exit'}) %}
            {% set _logout_text = '(exit)' %}
        {% endif %}

        <li class="user-header {{ _bg_class }}">
            {% if _user_image %}
                <img src="{{ _user_image }}" class="img-circle" alt="Avatar" />
            {% endif %}
            <p>{{ app.user }}</p>
        </li>

        {#
            Uncomment to add some information
                <li class="user-body">
                </li>
        #}

        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-flat"><i class="fa fa-pencil"></i> {{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</a>
            </div>
            <div class="pull-right">
                <a href="{{ _logout_uri }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ _logout_text }}</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
